@model CustomerSupport.ViewModels.TicketViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container">
    <h1>Details</h1>
    <br />
    <h3>Ticket Title</h3>
    <h3>@Model.Title</h3>

    <p>Ticket Message:</p>
    <p>@Model.Message</p>
    <hr />
    <p>Status:</p>
    <p>@Model.Status</p>
    <hr />



</div>

